<p id="notice"><%= notice %></p>

<div class="row">
    <%= link_to "All Contacts", contacts_url %>

</div>
<table class="table">
    <tr>
        <th>CONTACTS</th>
        <th>TEXTS SENT OUT</th>
    </tr>
    <tr>
        <td><%= Contact.count %></td>
        <td></td>
    </tr>
</table>
